<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hcc.bcicode.mapper.CodeMapper">

    <select id="selectPageByUserId" resultType="com.hcc.common.model.vo.CodeVO">
        select id, file_name, create_time
        from bci_code
        where paradigm_id = #{paradigmId} and user_id = #{userId} and show_status = 1
        order by create_time desc
        limit #{index}, #{pageNum}
    </select>
    <select id="getCodeUrlById" resultType="java.lang.String">
        select url
        from bci_code
        where id = #{codeId}
    </select>
    <select id="getFileNameById" resultType="java.lang.String">
        select file_name
        from bci_code
        where id = #{codeId}
    </select>
</mapper>