<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hcc.bciauth.mapper.TeamMapper">
    <insert id="insertApplicationIfNotExist">
        insert ignore into
        bci_application
        (paradigm_id, team_id, update_user)
        values (#{application.paradigmId}, #{application.teamId}, #{application.updateUser})
    </insert>
    <update id="updateStatusByTeamId">
        update bci_team
        set status = #{disband}
        where team_id = #{teamId}
    </update>

    <select id="selectTeamInfoByUserId" resultType="com.hcc.common.model.dto.TeamInfoDTO">
        select bt.event_id, bt.id team_id, but.role, but.status
        from bci_team bt join bci_user_team but on bt.id = but.team_id
        where but.user_id = #{userId}
    </select>

    <select id="selectPermissionByTeamId" resultType="com.hcc.common.model.dto.PermissionInfoDTO">
        select paradigm_id, status
        from bci_application
        where team_id = #{teamId}
    </select>
</mapper>