<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hcc.bciauth.mapper.TeamMapper">
    <insert id="insertApplicationIfNotExist">
        insert ignore into
        bci_application
        (paradigm_id, team_id, update_user)
        values (#{application.paradigmId}, #{application.teamId}, #{application.updateUser})
    </insert>
    <update id="updateStatusByTeamId">
        update bci_team
        set status = #{disband}
        where id = #{teamId}
    </update>
    <update id="updateAppStatusByTeamId">
        update bci_application
        set status = #{status}
        where team_id = #{teamId} and paradigm_id = #{paradigm}
    </update>

    <select id="selectTeamInfoByUserId" resultType="com.hcc.common.model.dto.TeamInfoDTO">
        select bt.event_id, bt.id team_id, but.role, but.status
        from bci_team bt join bci_user_team but on bt.id = but.team_id
        where but.user_id = #{userId}
    </select>

    <select id="selectPermissionByTeamId" resultType="com.hcc.common.model.dto.PermissionInfoDTO">
        select paradigm_id, status
        from bci_application
        where team_id = #{teamId}
    </select>

    <select id="selectByEventLikeTeamName" resultType="com.hcc.common.model.vo.TeamInfoVO">
        select id, team_name, university
        from bci_team
        where event_id = #{event} and team_name like CONCAT('%', #{teamName}, '%') and status = 0
        limit #{index}, #{pageSize}
    </select>
    <select id="getTeamInfo" resultType="com.hcc.common.model.vo.TeamInfoVO">
        select t.id, t.team_name, t.university, t.instructor
        from bci_team t join bci_application a on t.id = a.team_id
        where t.event_id = #{event} and a.status = 0 and a.paradigm_id = #{paradigm} and t.status = 0
    </select>
    <select id="selectTeamNameByTeamId" resultType="java.lang.String">
        select team_name
        from bci_team
        where id = #{teamId}
    </select>
    <select id="selectTeamIdsByParadigmAndStatus" resultType="java.lang.Integer">
        select team_id
        from bci_application
        where paradigm_id = #{paradigm} and status = 1
    </select>
    <select id="selectTeamByID" resultType="com.hcc.common.model.entity.TeamDO">
        select id, event_id, leader_id, team_name, instructor, university, status
        from bci_team
        where id = #{teamId}
    </select>

</mapper>