<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hcc.bciauth.mapper.UserTeamMapper">
    <update id="updateStatusByUserIdAndTeamId">
        update bci_user_team
        set status = #{approved}
        where user_id = #{userId} and team_id = #{teamId}
    </update>
    <update id="updateRoleByUserIdAndTeamIdWithStatus">
        update bci_user_team
        set role = #{role}
        where user_id = #{userId} and team_id = #{teamId} and status = #{approved}
    </update>
    <select id="selectTeamMembersByTeamId" resultType="com.hcc.common.model.vo.UserInfoVO">
        select u.id userId, u.username userName, u.mobile mobile, u.university university, ut.role, ut.status
        from bci_user u join bci_user_team ut on u.id = ut.user_id
        where ut.team_id = #{teamId}
    </select>
</mapper>